* {
  font-family: Inter;
}
html,
body,
.viewport {
  @apply h-full w-full m-0 p-0;
}
body * {
  transition: all 0.2s ease-in-out;
  animation: fade-in 0.4s ease-in !important;
}
p.animate {
  animation: fade-in-p 0.3s var(--spring-light) !important;
}
a {
  @apply hover:brightness-[5] !ease-in-out;
  transition: all 0.4s ease-in-out;
}
.grid-container * {
  transition: 0.05s ease-in-out !important;
  z-index: 10000 !important;
  pointer-events: all !important;
  animation: none !important;
}
